@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --swiper-pagination-color: rgb(209, 213, 219)
    /*--swiper-pagination-bullet-size: 8px;*/
    /*--swiper-pagination-bullet-width: 8px;*/
    /*--swiper-pagination-bullet-height: 8px;*/
    /*--swiper-pagination-bullet-inactive-color: #000;*/
    /*--swiper-pagination-bullet-inactive-opacity: 0.2;*/
    /*--swiper-pagination-bullet-opacity: 1;*/
    /*--swiper-pagination-bullet-horizontal-gap: 4px;*/
    /*--swiper-pagination-bullet-vertical-gap: 6px;*/
}

/* globals.css */
@font-face {
    font-family: 'E-Ukraine';
    src: url('/static/fonts/e-Ukraine-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'E-Ukraine';
    src: url('/static/fonts/e-Ukraine-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'E-Ukraine';
    src: url('/static/fonts/e-Ukraine-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'E-Ukraine';
    src: url('/static/fonts/e-Ukraine-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'E-Ukraine';
    src: url('/static/fonts/e-Ukraine-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'E-Ukraine';
    src: url('/static/fonts/e-Ukraine-UltraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

.navbar-and-filters {
    /*background: linear-gradient(180deg, #A3ADAF 50%, #CCD4D6 89.48%, #BDC9CC 100%);*/

/*linear gradient at opacity*/
    background: linear-gradient(180deg, #BDC9CC 80%,  #CCD4D6 95.48%, #A3ADAF 100%);
}

body {
    /* Gradient background */
    font-family: 'E-Ukraine', sans-serif;
    position: relative;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(180deg, #A3ADAF 50%, #CCD4D6 89.48%, #BDC9CC 100%);
    background-repeat: repeat;
    background-size: contain;
    background-position: top center;

}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-image: url('/static/store-overlay-desk-img.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    opacity: 0.5;  /* Adjust the opacity as needed */
    z-index: -1;
}

/*html {*/
/*    scrollbar-color: red transparent;*/
/*    scrollbar-width: thin;*/
/*}*/

/*select, textarea, * {*/
/*    scrollbar-color: auto;*/
/*    scrollbar-width: auto;*/
/*}*/


.leaflet-container {
    height: 100vh;
}


html::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: red;
    border-radius: 0px;
}

/* Targets the track (part the thumb slides within) */
::-webkit-scrollbar-track {
    background: #ced4d6;
}
